.borrowers-page {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    justify-content: center;

    .borrowers-page{
        align-items: center;
    }
    
    .borrower-table {
        
    }
}
