.borrowers-page {
    display: flex;
    width: auto;
    justify-content: space-between;
    margin: 30px auto;
    padding: 0rem 13rem;

    .borrowers-page{
        align-items: center;
    }
    
}
